/Home-Work9/weather-app/node_modules/
/Home-Work8/todo-simple/node_modules/
/Home-Work8/todo-simple/dist/main.js
.DS_Store
/Home-Work15/node_modules
/Home-Work19/graphql-server/node_modules/
/Home-Work19/graphql-server/build/
/homeWork11/weatherAppRedux/node_modules/
/finalWork/recipeApp/node_modules/
