.boxItem {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

.header {}

.title {}

.body {
    display: grid;
    grid-template-areas:
    'img' 'steps'
    'components' 'steps';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.img {
    width: 370px;
    height: 300px;
}

.components {

}

.steps {}
